.product-details{
    /* border: 2px solid red; */
    text-align: center;
}
.product-details img{
    width: 100%;
}
.item-info{
    padding: 20px;
}
.item-info button{
    border: none;
    border-radius: 60px;
    padding: 5px 10px;
    background: rgb(239, 7, 111);
    font-weight: bold;
    color: rgb(255, 255, 255);
}